@model AppData.Models.ApplicationUser
@{
    ViewData["Title"] = "EditAccount";
}

<div class="card container-fluid">
    <div class="card-header">
       <h2>Chỉnh sửa thông tin nhân viên</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <label class="col-form-label">
                <h3>Thông tin nhân viên</h3>
            </label>
        </div>
        <div class="row justify-content-center mb-3">
            <img src="@Model.ImageUrl" width="200px" height="200px" class="rounded-circle" alt="Cinque Terre">
        </div>
       
        <div class="row">
            <label class="text-end col-form-label col-md-1">Họ & Tên</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" asp-for="Name" readonly />
            </div>
        </div>
        <div class="row mt-4">
            <label class="text-end col-form-label col-md-1">Email</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" asp-for="Email" readonly/>
            </div>
            <label class="text-end col-form-label col-md-1">CCCD</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" asp-for="CitizenId" readonly/>
            </div>
        </div>
        <div class="row mt-4">
            <label class="text-end col-form-label col-md-1">Địa chỉ</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" asp-for="Address" readonly/>
            </div>
            <label class="text-end col-form-label col">Trạng thái</label>
            <div class="col-sm-4" style="margin-right: 190px">
                <input class="form-control"  type="text" asp-for="Status" readonly />
            </div>
        </div>
    </div>
</div>

