@model IEnumerable<PRO219_WebsiteBanDienThoai_FPhone.Models.CartDetailModel>

@using AppData.FPhoneDbContexts;

@{
    
    ViewData["Title"] = "Cart";
    FPhoneDbContext dbContext = new FPhoneDbContext();

}

<main id="main">
    <section class="section cart__area">
        <div class="container">
            <div class="responsive__cart-area">
                <form class="cart__form">
                    <div class="cart__table table-responsive">
                        <table width="100%" class="table">
                            <thead>
                                <tr>
                                    <th>PRODUCTs</th>
                                    <th>NAME</th>
                                    <th>COLOR</th>
                                    <th>QUANTITY</th>
                                    <th>TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var idsp = dbContext.PhoneDetailds.FirstOrDefault(p => p.Id == item.phoneDetaild.Id).IdPhone;
                                    var gia = dbContext.PhoneDetailds.FirstOrDefault(p => p.Id == item.phoneDetaild.Id);
                                    string anhsp = dbContext.Phones.FirstOrDefault(p => p.Id == idsp).Image;
                                    var tensp = dbContext.Phones.FirstOrDefault(p => p.Id == idsp).PhoneName;
                                    var idcolor = dbContext.PhoneDetailds.FirstOrDefault(p => p.Id == item.phoneDetaild.Id).IdColor;
                                    var color = dbContext.Colors.FirstOrDefault(p => p.Id == idcolor).Name;

                                    <tr>
                                        <td class="product__thumbnail">
                                            <a href="#">
                                                <img src="@Url.Content(anhsp)" id="pic" />
                                            </a>
                                        </td>
                                        <td class="product__name">
                                            @tensp
                                            <br><br>
                                        </td>
                                        <td class="product__name">
                                            @color
                                             <br></br>
                                        </td>
                                        <td class="product__quantity">
                                           
                                            <p>1</p>
                                        </td>
                                        <td class="product__subtotal">
                                          
                                            <div class="price">
                                                <span class="new__price">$@(gia.Price)</span>
                                            </div>
                                            <a href="#" class="remove__cart-item">
                                                <svg>
                                                    <use xlink:href="~~/images/sprite.svg#icon-trash"></use>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="cart-btns">
                        <div class="continue__shopping">
                            <a href="/">Continue Shopping</a>
                        </div>
                        <div class="continue__shopping">
                        <a asp-action="Index" asp-controller="Checkout">PROCEED TO CHECKOUT</a>
                        </div>
                    </div>

                  
                </form>
            </div>
        </div>
    </section>
</main>
