@using AppData.Models

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section style="background-color: #eee; padding-top: 50px; padding-bottom:50px">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 col-xl-4">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-header h5 text-white bg-primary">Đặt lại mật khẩu</div>
                    <div class="card-body px-5">
                        <p class="card-text py-2">
                            Nhập địa chỉ Email của bạn ở đây để tiến hành đặt lại mật khẩu
                        </p>
                        <div class="form-outline">
                            <input required type="text" name="UserName" placeholder="Tên đăng nhập" class="box col-lg-12">
                            <p></p>
                        </div>
                        <a asp-action="ResetPasswordSucces" asp-controller="Accounts" class="btn btn-primary w-100">Đặt lại mật khẩu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>