@using AppData.ViewModels.Accounts
@model AppData.ViewModels.Accounts.InputVM

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<section style="background-color: #eee; padding-top: 50px; padding-bottom:50px">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 col-xl-4">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-header h5 text-white bg-primary">Đặt lại mật khẩu</div>
                    <div class="card-body px-5">
                        <form asp-action="ResetPassword" method="post">
                            <label asp-for="Username"></label>
                            <input asp-for="Username" />
                            <span asp-validation-for="Username"></span>

                            <button type="submit" class="btn btn-primary">Đặt lại</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
