@{
    ViewData["Title"] = "Password Reset Succesfully";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section style="background-color: #eee; padding-top: 50px; padding-bottom:50px">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 col-xl-4">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-header h5 text-white bg-primary">Đặt lại mật khẩu</div>
                    <div class="card-body px-5">
                        <p class="card-text py-2">
                            Một email đã được gửi đến địa chỉ Email của bạn. 
                            Hãy kiểm tra email để thực hiện thay đổi mật khẩu
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>