<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PRO219_WebsiteBanDienThoai_FPhone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/PRO219_WebsiteBanDienThoai_FPhone.styles.css" asp-append-version="true"/>

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon"/>
    <!-- Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="~/css/styles.css"/>
    <title>Phone Shop</title>
</head>
<body>
@await Html.PartialAsync("_SideNavPartialView.cshtml");
<div class="">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
@await Html.PartialAsync("_FooterPartialView.cshtml");

<!-- PopUp -->
<div class="popup hide__popup">
    <div class="popup__content">
        <div class="popup__close">
            <svg>
                <use xlink:href="/images/sprite.svg#icon-cross"></use>
            </svg>
        </div>
        <div class="popup__left">
            <div class="popup-img__container">
                <img class="popup__img" src="~/images/popup.jpg" alt="popup">
            </div>
        </div>
        <div class="popup__right">
            <div class="right__content">
                <h1>Get Discount <span>30%</span> Off</h1>
                <p>
                    Sign up to our newsletter and save 30% for you next purchase. No spam, we promise!
                </p>
                <form action="#">
                    <input type="email" placeholder="Enter your email..." class="popup__form">
                    <a href="#">Subscribe</a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Go To -->

<a href="#header" class="goto-top scroll-link">
    <svg>
        <use xlink:href="/images/sprite.svg#icon-arrow-up"></use>
    </svg>
</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
<!-- Animate On Scroll -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- Custom JavaScript -->
<script src="~/js/products.js"></script>
<script src="~/js/index.js"></script>
<script src="~/js/slider.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>